@model HorecaMebel.Models.Basket.ConfirmationPageViewModel

<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">

                <div class="page5-box1">
                    <h6>
                        Herzlichen Dank für Ihre Bestellung und das entgegengebrachte Vertrauen.
                    </h6>
                </div>

                <div class="page5-box1">
                    <p>
                        Sie erhalten in den nächsten Tagen eine Bestellbestätigung per E-Mail.
                        Bitte überprüfen Sie Ihre Daten auf Richtigkeit.
                        Sollten Sie Änderungswünsche haben oder die Bestellung irrtümlich versandt worden sein, so
                        informieren Sie uns bitte per E-Mail an: info@horecamoebel.de
                    </p>
                </div>
                
            </article>
        </div>
    </div>
</section>