@using HorecaMebel.Resources
@using HorecaMebel.Models.References
@model ReferencesViewModel

<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <div class="inner-block">
                    <div style="float:left;width:72%"><h2>@Resources.References</h2></div>                    
                </div>

                <div class="clearfix"></div>

                <div data-selector="AllReferencesContainer"></div>

                <div class="clear"></div>
                <div class="divHeight5Px"></div>
                <div class="divHeight5Px"></div>
            </article>
        </div>
    </div>
</section>

<script src="~/Scripts/Project/References/ReferencesList.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        

        ReferencesList.Init(JSON.parse(JSON.stringify(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((Model.AllReferences))))));

    });
</script>