@model HorecaMebel.Areas.Administration.Models.ViewModels.Armchair.NewArmchairViewModel

    @{
        ViewBag.Title = "Armchair";
    }

<div class="main-content">
    <div class="wrapper">

        <label>Image*</label>
        <div class="row">
            <div class="images-placeholder new">
                <div class="main" data-selector="ImageContainer"></div>
            </div>
            <div>
                <div class="upload-file form-upload">
                    <input type="file" name="file" data-selector="fileUploadValue" />

                    <span class="error" data-selector="imageFiledError">&nbsp;</span>
                </div>

                <input type="button" value="Upload" data-selector="BtnUploadImage" class="action-btn upload" />

            </div>
        </div>

        <label for="contactPersonPosition">Name*</label>
        <div class="row">
            <input type="text" id="contactPersonPosition" data-selector="Name" />
            <span class="error" data-selector="NameError"></span>
        </div>

        <label for="contactPersonEmail">Price *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Price" />€
            <span class="error" data-selector="PriceError"></span>
        </div>

        <label for="contactPersonEmail">Reduced Price</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="ReducedPrice" />€
            <span class="error" data-selector="ReducedPriceError"></span>
        </div> 

        <label for="contactPersonEmail">Description</label>
        <div class="row">
            <textarea id="contactPersonEmail" data-selector="Description"></textarea>
            <span class="error" data-selector="DescriptionError"></span>
        </div>

        <label for="contactPersonEmail">Frame *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="WoodenFrame" />
            <span class="error" data-selector="WoodenFrameError"></span>
        </div>

        <label for="contactPersonEmail">Width *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Width" />cm
            <span class="error" data-selector="WidthError"></span>
        </div>

        <label for="contactPersonEmail">Height *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Height" />cm
            <span class="error" data-selector="HeightError"></span>
        </div>

        <label for="contactPersonEmail">Depth *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Depth" />cm
            <span class="error" data-selector="DepthError"></span>
        </div>

        <label for="contactPersonEmail">Seat *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Seat" />
            <span class="error" data-selector="SeatError"></span>
        </div>

        <label for="contactPersonEmail">Back *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Back" />
            <span class="error" data-selector="BackError"></span>
        </div>

        <label for="contactPersonEmail">Skin *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Skin" />
            <span class="error" data-selector="SkinError"></span>
        </div>

        <label for="contactPersonEmail">Skin Colour*</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="SkinColour" />
            <span class="error" data-selector="SkinColourError"></span>
        </div>

        <label for="contactPersonEmail">Legs *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="Legs" />
            <span class="error" data-selector="LegsError"></span>
        </div>

        <label for="contactPersonEmail">Production *</label>
        <div class="row">
            <input type="text" id="contactPersonEmail" data-selector="ProductionTime" />
            <span class="error" data-selector="ProductionTimeError"></span>
        </div>

        <div class="clearfix">
            <a class="action-btn" data-selector="Save">SAVE</a>
        </div>

    </div>
</div>

<script src="~/Areas/Administration/Script/Armchairs/NewArmchair.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        NewArmchair.Init();

        document.onkeydown = function (event) {
            if (event.keyCode == 13) {
                NewArmchair.Save();
            }
        }
    });
</script>

