<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <h6>Impressum</h6>

                <div class="page5-box1">
                    <p>
                        www.horecamoebel.de wird betrieben von:
                    </p>
                    <p>
                        Monti Möbel UG (haftungsbeschränkt)
                    
                    <p>
                        Kaiserstr. 39
                    </p>

                    <p>
                        53113 Bonn, Deutschland
                    </p>

                    <p>
                        Telefon: (+49) 157 81491298
                    </p>

                    <p>
                        eMail: info@horecamoebel.de
                    </p>
                    <p>
                        www.horecamoebel.de
                    </p>
                    <br/>
                    <p>
                        Geschäftsführer: Boris Iliev
                    </p>

                    <p>
                        Steuernummer: 205/5735/1876
                    </p>

                    <p>
                        Ust.ID.: DE301282101
                    </p>

                    <p>
                        Amtsgericht Bonn: HRB 21660
                    </p>
                </div>


                <div class="page5-box1">
                    <p>
                        Haftungsausschluss
                        Die Inhalte der Shop-Seiten und der darüberhinausgehenden Service-Seiten der Monti Möbel UG (haftungsbeschränkt) 
                        werden stets mit großer Sorgfalt zusammengestellt und regelmäßig aktualisiert. Dennoch dienen die Angaben nur der
                        allgemeinen und unverbindlichen Information. Deshalb gelten folgende Haftungshinweise:
                    </p>
                </div>

                <div class="page5-box1">
                    <p>
                        1.	Inhalt des Onlineangebotes
                        Die Monti Möbel UG (haftungsbeschränkt) übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen.
                        Die Nutzung der Inhalte der Website www.horecamoebel.de erfolgt auf eigene Gefahr des Nutzers. Haftungsansprüche gegen die Monti Möbel UG (haftungsbeschränkt),
                        welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw.
                        durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens der Monti Möbel
                        UG (haftungsbeschränkt) kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich.
                        Monti Möbel UG (haftungsbeschränkt) behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern,
                        zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
                    </p>
                </div>

                <div class="page5-box1">
                    <p>
                        2. Verweise und Links
                        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
                        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
                        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren
                        zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
                        einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                    </p>
                </div>

            </article>
        </div>
    </div>
</section>



