<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <h6>Lieferung</h6>

                <div class="page5-box1">                    
                    <p>
                        Die Lieferung erfolgt sofort unter Berücksichtigung der Liefer- und Zahlungsbedingungen gem. unserer AGB.
                    </p>
                </div>


                <div class="page5-box1">                    
                    <p>
                        Die hier errechneten Versandkosten beziehen sich auf einen Lieferung an das Festland Deutschland.
                        Alle anderen Lieferländer oder Inseln werden nachträglich mit einem Aufschlag berechnet.
                        Ihnen wird dann nochmal die Möglichkeit gegeben, den Auftrag erneut verbindlich zu bestätigen.
                        In diesem Fall gilt die Bestellung in unserem Onlineshop nicht als verbindlich.
                    </p>
                </div>

            </article>
        </div>
    </div>
</section>
