@model HorecaMebel.Models.TearmsAndConditions.TearmsAndConditions

<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <h6>Allgemeine Geschäftsbedingungen (AGB) der Monti Möbel UG (haftungsbeschränkt) für Geschäftskunden</h6>

                <div class="page5-box1">
                    <div class="link4">1.</div>
                    <p>
                        Die Allgemeinen Geschäftsbedingungen der Monti Möbel UG (haftungsbeschränkt) (AGB) gelten für alle gegenwärtigen und zukünftigen Lieferungen, 
                        Leistungen und Angebote von der horecamoebel.de an Geschäftskunden. Als Geschäftskunden gelten Unternehmer im Sinne von § 14 BGB, 
                        juristische Personen des öffentlichen Rechts oder öffentlich-rechtliche Sondervermögen. Es gilt die im Zeitpunkt des Vertragsschlusses 
                        jeweils aktuelle Fassung der AGB, die unter www.horecamoebel.de einsehbar ist und die wir dem Geschäftskunden auf Wunsch übermitteln. 
                        Von diesen AGB abweichende Regelungen, 
                        insbesondere in Allgemeinen Geschäftsbedingungen des Käufers, gelten nur im Falle schriftlicher Bestätigung durch die Monti Möbel UG (haftungsbeschränkt).
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">2.</div>
                    <p>
                        Der Vertrag zwischen Monti Möbel UG (haftungsbeschränkt) und dem Kunden kommt in jedem Fall nur auf Grundlage der schriftlichen Auftragsbestätigung von
                        Monti Möbel UG (haftungsbeschränkt) zustande. Angebote der Monti Möbel UG (haftungsbeschränkt) sollen den Vertragsschluss nur vorbereiten; sie sind 
                        unverbindlich und nicht bindend. Die Auftragsbestätigung von Monti Möbel UG (haftungsbeschränkt) ist auch dann alleinige Vertragsgrundlage. 
                        Die Übermittlung der Auftragsbestätigung kann per elektronische Nachricht (E-Mail) oder Brief erfolgen.
                        Ein Angebot oder eine Bestellung des Bestellers kann Monti Möbel UG (haftungsbeschränkt) innerhalb von zwei Wochen ab Zugang annehmen. 
                        Der Geschäftskunde ist verpflichtet, die Auftragsbestätigung unverzüglich auf ihre Übereinstimmung mit seiner Bestellung oder seinem Angebot hin zu überprüfen.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">3.</div>
                    <p>
                        Geringe Abweichungen gegenüber den Produktangaben in der Auftragsbestätigung gelten als genehmigt, sofern sie für den Käufer nicht unzumutbar sind. 
                        Hierzu zählen auch mögliche natur- bzw. werkstoffbedingte Farbabweichungen bei Kunstleder, Leder, Holz, Stoffbezügen. Besonders bei Holzmöbeln müssen 
                        wir uns Farbabweichungen wegen der unterschiedlichen Strukturen und Farben der Hölzer und der Verarbeitungstechnik ausdrücklich vorbehalten, 
                        insbesondere deshalb, weil die die Modelle zum Teil von unterschiedlichen Lieferanten produziert werden. Derartige Abweichungen berechtigen 
                        nicht zur Reklamation, oder zum Rücktritt vom Vertrag.
                        Mündliche Auskünfte und Zusagen von der Monti Möbel UG (haftungsbeschränkt), Prospekte und Werbeaussagen gleich welcher Art, 
                        insbesondere Beschreibungen, Abbildungen, Zeichnungen, Muster, Qualitäts-, Beschaffenheits-, Zusammensetzungs-, Leistungs-, Verbrauchs- und 
                        Verwendbarkeitsangaben sowie Maße und Gewichte der Vertragswaren sind freibleibend, sofern sie nicht ausdrücklich als verbindlich bezeichnet sind. 
                        Sie sind in keinem Fall eine Zusicherung oder Garantiezusage, welcher Art auch immer.
                        Die Abbildung der Produkte im Online-Shop(horecamoebel.de) oder im Katalog kann von ihrem tatsächlichen Aussehen (Farbe, Größe etc.) abweichen. 
                        Die Abbildungen im Online-Shop oder im Katalog sind daher unverbindlich. Um Unklarheiten bezüglich unterschiedlicher Farbauswahl zu verhindern 
                        kann der Kunde – und wir empfehlen dies – sich vor Vertragsschluss Farb- und Ausfallmuster auf eigene Kosten zusenden lassen.
                        Eine Nachkaufgarantie in Bezug auf die Gleichheit von Farbe, Dekoren, Ausführung und Maßen kann nicht gewährt werden.
                        Die Ware wird in der Regel unmontiert geliefert. Aufstellung bzw. Montage der Ware ist im Preis nicht enthalten. Sie ist Sache des Käufers, 
                        soweit nicht ausdrücklich schriftlich etwas anderes vereinbart wird.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">4.</div>
                    <p>
                        Soweit nicht ausdrücklich in der Auftragsbestätigung Monti Möbel UG (haftungsbeschränkt) anders vereinbart versenden wir die Ware ab Werk an den 
                        vom Kunden benannten Ort. Die Lieferung erfolgt bei Paketlieferung bis zur Haustüre, ansonsten frei Bordsteinkante oder frei an Rampe. 
                        Entladung ist Sache des Käufers.
                        Sobald die Ware unser Lager verlässt, geht die Gefahr auf den Käufer über. Dies gilt auch, wenn wir durch einen Spediteur unserer Wahl liefern. 
                        Die Ware muss nach Erhalt unverzüglich auf  Vollständigkeit und offensichtliche Mängel geprüft werden. Etwaige Mängel müssen im Frachtbrief vermerkt werden.
                        Nach dem Empfang der Ware ist der Käufer verpflichtet, die Ware auszupacken und auf sog. verdeckte Transportschäden hin zu untersuchen. Diese müssen 
                        innerhalb von 5 Tagen unter Beachtung der Transportbedingungen schriftlich angezeigt werden, damit der Versicherungsschutz nicht erlischt.
                        Soweit vereinbart ist, dass der Käufer die Ware selbst abholt, hat der Käufer den Transport selbst zu organisieren und trägt der Käufer insbesondere 
                        die Kosten der Transportverpackung selbst. In diesem Fall geht die Gefahr mit Übergabe an den Käufer oder die den Transport für den Käufer ausführende 
                        Person auf den Käufer über.
                        Der Käufer hat Verkaufsverpackungen für einen ggf. notwendigen Rücktransport für eine angemessene Zeit aufzubewahren. Danach ist er verpflichtet, 
                        Verpackungsmaterial unter Beachtung der hierfür geltenden Gesetze zu entsorgen.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">5.</div>
                    <p>
                        Liefertermine und Lieferfristen gelten nur annähernd und beginnen mit Eingang bei der Monti Möbel UG (haftungsbeschränkt) des gesamten Rechnungsbetrages
                        bei Lieferung gegen Vorkasse bzw. der gesamten Anzahlung bei Lieferung gegen Anzahlung. Soweit auf Vorkasse oder Anzahlung verzichtet wurde, ist Beginn
                         das Datum der Auftragsbestätigung der horecamoebel.de. Soweit derartige Lieferfristen und Liefertermine in der Auftragsbestätigung nicht genannt sind, 
                        ist die Lieferzeit abhängig von der jeweiligen Warengruppe und Verfügbarkeit und beträgt in der Regel ca. 4 bis 6 Wochen. Wir sind  nicht verpflichtet, 
                        den exakten Liefertag zu avisieren. Fixgeschäfte sind ausgeschlossen. Die Monti Möbel UG (haftungsbeschränkt) ist zu Teilleistungen berechtigt. 
                        Sie gelten als selbständige Leistungen.
                        Bei Lieferverzögerungen, die die Monti Möbel UG (haftungsbeschränkt)  nicht zu vertreten hat, insbesondere Lieferverzögerungen auf Grund höherer Gewalt, 
                        hoheitlicher Eingriffe, Naturkatastrophen, Krieg, Aufruhr, Streik in eigenen Betrieben, Zulieferbetrieben oder bei Transporteuren oder ähnlicher Umstände,
                        sind wir berechtigt, die Lieferung nach Wegfall des Hinderungsgrundes nachzuholen. In diesem Fall können beide Vertragspartner nur dann von dem Vertrag 
                        ganz oder teilweise zurücktreten, wenn eines der vorgenannten Ereignisse zu einer Lieferverzögerung von mehr als drei Monaten über den Liefertermin bzw. 
                        die Lieferfrist hinaus geführt hat.
                        Konnte die Ware aus vom Käufer zu vertretenden Gründen nicht angeliefert werden oder hat der Käufer in irgendeiner Form seine Mitwirkungspflicht bei der
                        Annahme verletzt, stehen Monti Möbel UG (haftungsbeschränkt) die gesetzlichen Rechte zu. Insbesondere kann die horecamoebel.de die Kosten für eine dann 
                        erforderliche Zwischenlagerung der Ware vom Spediteur verlangen. Nach fruchtlosem Ablauf der in einer ersten Mahnung gesetzten Frist zur Abnahme der Waren 
                        ist horecamoebel.de berechtigt, alle aus diesem Rechtsgeschäft entstandenen und entstehenden Kosten und Zinsen dem Käufer zu berechnen. Hierzu zählen
                         beispielsweise zusätzlich entstandene Versand- oder Rückholkosten.
                        Der Käufer verpflichtet sich, die Sendung bei Empfang unverzüglich auf Vollzähligkeit, Richtigkeit der Artikel und offensichtliche Transportschäden 
                        hin zu überprüfen. Hierzu zählen auch Beschädigungen an der Transportverpackung. Werden Schäden oder Fehlmengen festgestellt, muss der Käufer 
                        diese auf dem Frachtbrief und Lieferschein vermerken und vom Frachtführer bestätigen lassen. Nach Empfang der Ware ist der Käufer verpflichtet, 
                        die Ware auszupacken und auf versteckte Transportschäden und Bruch hin zu überprüfen. Liegt ein Transportschaden vor, muss der Käufer uns unverzüglich 
                        benachrichtigen. Die Meldung muss innerhalb von 5 Tagen nach Empfang der Ware erfolgen. Die Transportverpackung ist vom Käufer für einen eventuellen 
                        Rücktransport aufzubewahren.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">6.</div>
                    <p>
                        Alle angegebenen Preise sind Nettopreise zuzüglich gesetzlicher Umsatzsteuer. Die Kosten für handelsübliche Standardverpackung sind in den Preisen enthalten. 
                        Alle Preise gelten ab dem von Monti Möbel UG (haftungsbeschränkt)  gewählten  Auslieferungslager im Ausland zuzüglich tatsächlich anfallender Versandkosten. 
                        Dies gilt auch dann, wenn die Versandkosten in der Auftragsbestätigung noch nicht spezifiziert werden. Bei Lieferungen ins Ausland und auf deutsche 
                        Inseln ist eine Angabe der Versandkosten in der Auftragsbestätigung in der Regel noch nicht möglich. Der Kunde wird in diesem Fall die Versandkosten 
                        bei info@horecamoebel.de vorab anfragen. Die Versandkosten werden in diesem Fall separat berechnet.
                        Bei Lieferungen in Länder, die nicht Mitglieder der EG sind, trägt der Käufer etwa anfallende Zölle und Einfuhrsteuern. Soweit nicht anders vereinbart, 
                        schuldet der Käufer Vorauskasse.
                        Rechnungen von Monti Möbel UG (haftungsbeschränkt) sind 10 Tage nach Ausstellung der Rechnung netto ohne Skonti und sonstige Abzüge zur Zahlung fällig.
                        Bestellungen, die Sonderanfertigungen oder individuell auf Wunsch des Käufers gefertigte Waren (Polsterungen und Lackierungen und dergleichen) beinhalten, 
                        die dementsprechend nicht zum Standard- oder Lagerprogramm zählen, erfordern nach Erhalt der Auftragsbestätigung eine – ja nach Einzelfall 
                        zu vereinbarende – Anzahlung. In diesen Fällen beginnt die Produktion nach Eingang der Anzahlung.
                        Der Käufer kann nur wegen solchen Gegenforderungen ein Zurückbehaltungsrecht ausüben, die auf demselben Vertragsverhältnis beruhen. 
                        Im Falle laufender Geschäftsbeziehung gilt jeder einzelne Auftrag als gesondertes Vertragsverhältnis. Eine Aufrechnung gegen Forderungen 
                        von Monti Möbel UG (haftungsbeschränkt) ist nur mit unbestrittenen oder rechtskräftig festgestellten Forderungen zulässig.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">7.</div>
                    <p>
                        Mängelrügen nach § 377 HGB sind nur wirksam, wenn sie schriftlich erfolgen. Soweit nicht im Einzelfall unzumutbar wird der Käufer für die Anzeige von Mängeln das hierfür auf der Internetseite von der Monti Möbel UG (haftungsbeschränkt) vorgesehene E-mail nutzen. Auf Verlangen der Monti Möbel UG (haftungsbeschränkt) wird der Käufer eine Dokumentation des Mangels oder des Schadens mittels Bildmaterial (z.B. Digitalfoto) übermitteln und eine Prüfung der Sache auf Mangelhaftigkeit ermöglichen. Wird die als mangelhaft gerügte Kaufsache zur Prüfung zur horecamoebel.de transportiert, dann trägt Monti Möbel UG (haftungsbeschränkt) die Kosten für den Transport nur dann, wenn sich der Mangel der Kaufsache bestätigt. Ansprüche wegen Mängeln verjähren nach Ablauf von einem Jahr ab Ablieferung der Sache.
                        Setzt der Käufer eine angemessene Frist zur Nacherfüllung wegen Mängeln, so ist Monti Möbel UG (haftungsbeschränkt) nach seiner Wahl zur Beseitigung der Mängel oder zur Lieferung einer mangelfreien Sache berechtigt. Als Nachbesserung gilt auch die Bereitstellung von Ersatzteilen, soweit ihre Montage für den Kunden nicht unzumutbar ist. Nach dem zweiten Fehlschlagen der Nacherfüllung oder bei Unmöglichkeit der Nachbesserung oder Ersatzlieferung innerhalb angemessener Zeit ist der Käufer berechtigt, den Kaufpreis zu mindern oder vom Vertrag zurückzutreten.
                        Etwaige Mängel müssen im Frachtbrief vermerkt werden. Nach dem Empfang der Ware ist der Käufer verpflichtet, die Ware auf Transportschäden hin zu untersuchen. Diese müssen uns innerhalb von 5 Tagen schriftlich mitgeteilt werden, damit der Versicherungsschutz nicht erlischt. Der Käufer ist verpflichtet, Monti Möbel UG (haftungsbeschränkt) die Prüfung des reklamierten Gegenstandes zu gestatten, und zwar nach Wahl der Monti Möbel UG (haftungsbeschränkt) entweder beim Käufer oder bei Monti Möbel UG (haftungsbeschränkt), sowie die Dokumentation des Mangels oder des Schadens mittels Bildmaterial (z.B. Digitalfoto) zu belegen. Verweigert der Käufer die Überprüfung oder die Bilddokumentation, dann wird horecamoebel.de von der Mängelhaftung frei. Die zur Prüfung anfallenden Transportkosten trägt die Monti Möbel UG (haftungsbeschränkt), sofern sich die Mangelhaftigkeit des Gegenstandes bestätigt.
                        Wir sind berechtigt, jede Mängelrüge dadurch abzuwenden, dass wir nach unserer Wahl eine Nachbesserung vornehmen, Ersatz liefern oder dem Käufer einen angemessenen Preisnachlass gewähren. Schadensersatzansprüche, insbesondere aus Mangelfolgeschäden sind ausgeschlossen.
                        Die Mängelhaftung umfasst nicht die Beseitigung von Fehlern, die durch äußere Einflüsse nach Gefahrübergang oder Bedienungsfehler oder einen fehlerhaften Zusammenbau im Fall der Selbstmontage von Möbeln entstehen. Die Mängelhaftung kann ebenso nicht für solche Mängel übernommen werden, die auf unsachgemäße Nutzung oder eine überdurchschnittliche Beanspruchung zurückzuführen sind. Mängelhaftung ist ausgeschlossen, soweit der Käufer eigenmächtige Veränderungen an der Sache vorgenommen hat, sowie bei Mängeln infolge zweckentfremdeter Verwendung oder bei Nichtbeachtung der Montage- und Benutzungsanleitungen, sowie der Produktinformationen und Pflegehinweise, die dem Produkt beigelegt sind oder auf unserer Website abrufbar sind. Bei konstruktiven Mängeln ist der Kunde verpflichtet, die weitere Nutzung der Ware zu unterlassen.Die Kosten für kundenseitige Nachbesserungen werden von uns nur nach vorheriger Zustimmung übernommen. Warenrücksendungen können nur mit unserem Einverständnis erfolgen.
 
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">8.</div>
                    <p>
                        Monti Möbel UG (haftungsbeschränkt) haftet nach den gesetzlichen Bestimmungen, sofern Schadenersatzansprüche gleich aus welchem Rechtsgrund geltend gemacht werden, die auf Vorsatz oder grober Fahrlässigkeit der Monti Möbel UG (haftungsbeschränkt) seinen gesetzlichen Vertretern oder Erfüllungsgehilfen beruhen. Soweit die Monti Möbel UG (haftungsbeschränkt) keine vorsätzliche Vertragsverletzung angelastet wird, ist die Haftung auf den vorhersehbaren, typischerweise eintretenden Schaden begrenzt.
                        Die Monti Möbel UG (haftungsbeschränkt) haftet nach den gesetzlichen Bestimmungen, sofern die Monti Möbel UG (haftungsbeschränkt) fahrlässig eine wesentliche Vertragspflicht verletzt hat; in diesem Fall ist die Haftung auf den vorhersehbaren, typischerweise eintretenden Schaden begrenzt.
                        Die Monti Möbel UG (haftungsbeschränkt) haftet nach den gesetzlichen Bestimmungen, soweit Schadenersatz aus der Verletzung des Lebens, des Körpers oder der Gesundheit geltend gemacht wird oder soweit eine zwingende gesetzliche Haftung nach dem Produkthaftungsgesetz besteht.
                        Weitergehende Ansprüche auf Schadenersatz gegen die horecamoebel.de sind ausgeschlossen
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">9.</div>
                    <p>
                        Warenrücksendungen können nur mit Einverständnis von uns erfolgen. Sonderanfertigungen oder individuell auf Wunsch des Käufers gefertigte Waren werden 
                        grundsätzlich nicht mehr zurückgenommen. Soweit die Monti Möbel UG (haftungsbeschränkt) ihr Einverständnis für eine Warenrücksendung, die nicht zu 
                        Reklamationsretouren zählt, erteilt hat, trägt der Käufer die Kosten für Verpackung und Versand der Warenrücksendung. 
                        Monti Möbel UG (haftungsbeschränkt) erstattet dem Käufer den Kaufpreis abzüglich aller Transportkosten und Kosten, 
                        die mit der Rücknahme der Waren verbundenen sind, entweder als Zahlung oder durch Erteilung einer Gutschrift. 
                        Bei Beschädigungen oder Abnutzungen der Ware wird der zu erstattende Betrag entsprechend gemindert. 
                        Die Erstattung an den Kunden erfolgt innerhalb von 30 Arbeitstagen ab Wareneingang. Die Gefahr geht mit Wareneingang auf die 
                        Monti Möbel UG (haftungsbeschränkt) über.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">10.</div>
                    <p>
                        Monti Möbel UG (haftungsbeschränkt) behält sich das Eigentum an der gelieferten Ware („Vorbehaltsware“) bis zur vollständigen Zahlung des Kaufpreises vor. 
                        Ist der Käufer Kaufmann, gelten folgende ergänzenden Regelungen: Das Eigentum an der Vorbehaltsware geht erst mit Eingang aller Zahlungen aus der laufenden
                        Geschäftsbeziehung auf den Käufer über. Der Käufer ist nicht berechtigt, über die Vorbehaltsware zu verfügen. Insbesondere ist er nicht berechtigt, d
                        die Vorbehaltsware vor dem Übergang des Eigentums zu verpfänden, zur Sicherung zu übereignen, zu verarbeiten oder umzugestalten. 
                        Nur wenn die Vorbehaltsware nicht zur Nutzung im eigenen Unternehmen des Käufers bestimmt ist, sondern im Rahmen eines vom Käufer betriebenen 
                        Handels erworben wurde, darf der Käufer die Vorbehaltsware im Rahmen des ordnungsgemäßen Geschäftsganges weiterveräußern. 
                        Für den Fall der Weiterveräußerung tritt der Käufer bereits hiermit alle daraus entstandenen Ansprüche gegen seine Abnehmer in voller Höhe als 
                        Sicherheit für die Forderungen von Monti Möbel UG (haftungsbeschränkt) an Monti Möbel UG (haftungsbeschränkt). Monti Möbel UG (haftungsbeschränkt) 
                        nimmt diese Abtretung an. Zur Einziehung dieser Forderungen ist der Käufer nach deren Abtretung jederzeit frei widerruflich ermächtigt. 
                        Die Befugnis der Monti Möbel UG (haftungsbeschränkt), die Forderungen selbst einzuziehen, bleibt davon unberührt; jedoch verpflichten wir uns, 
                        die Forderungen nicht einzuziehen, solange der Besteller seinen Zahlungsverpflichtungen ordnungsgemäß nachkommt und nicht in Zahlungsverzug ist. 
                        Ist dies jedoch der Fall, kann Monti Möbel UG (haftungsbeschränkt) verlangen, dass der Käufer die Abtretung der Forderungen an deren Schuldner bekannt gibt, 
                        alle zum Einzug erforderlichen Angaben macht, die dazugehörigen Unterlagen aushändigt und den Schuldnern (Dritten) die Abtretung mitteilt. 
                        Monti Möbel UG (haftungsbeschränkt) ist jedenfalls berechtigt, die Abtretung anzuzeigen. Der Käufer wird einen Zugriff Dritter auf die 
                        Vorbehaltsware oder die an horecamoebel.de abgetretenen Forderungen unverzüglich schriftlich anzeigen und Dritte auf die Rechte 
                        der horecamoebel.de hinweisen. Ist der Käufer mit einer oder mehreren Zahlungen ganz oder teilweise in Verzug, stellt er seine 
                        Zahlungen ein oder ist über sein Vermögen die Eröffnung eines Insolvenzverfahrens beantragt, dann darf der Käufer in keinem 
                        Falle mehr über die Vorbehaltsware verfügen. Wir sind in einem solchen Fall berechtigt, vom Vertrag zurückzutreten oder die Vorbehaltsware 
                        zwecks anderweitiger Verwertung zurückzunehmen oder, sofern noch nicht geschehen, die Befugnis des Käufers zur Einziehung der Forderungen aus der 
                        Weiterveräußerung zu widerrufen. Die horecamoebel.de verpflichtet sich, die ihr zustehenden Sicherheiten insoweit auf Verlangen des Käufers freizugeben, 
                        als ihr Wert die zu sichernden Forderungen, soweit sie noch nicht beglichen sind, um mehr als 20 % übersteigt.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">11.</div>
                    <p>
                        Die Monti Möbel UG (haftungsbeschränkt) wird den Käufer von Ansprüchen Dritter wegen Verletzung eines gewerblichen Schutzrechtes oder Urheberrechtes freistellen, 
                        sofern der Käufer uns von solchen Ansprüchen unverzüglich schriftlich benachrichtigt hat und uns vorher alle erforderlichen rechtlichen und technischen 
                        Abwehrmaßnahmen, insbesondere Änderung oder Austausch gelieferter Ware, ermöglicht hat. Weitergehende Ansprüche des Käufers, gleich aus welchem Rechtsgrund, 
                        sind ausgeschlossen.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">12.</div>
                    <p>
                        Die Monti Möbel UG (haftungsbeschränkt) wird bei Nutzung der aus der Geschäftsbeziehung mit dem Käufer bekannt gewordenen personenbezogenen
                        Daten die Bestimmungen des Bundesdatenschutzgesetzes und des Telemediengesetzes beachten. Alle zur Durchführung des Auftrags erforderlichen 
                        personenbezogenen Daten werden in maschinenlesbarer Form gespeichert und vertraulich behandelt. Die für die Bearbeitung eines Auftrags notwendigen 
                        Daten wie Name und 
                        Adresse werden im Rahmen der Durchführung der Lieferung an die mit der Lieferung des Kaufgegenstandes beauftragten Unternehmen weitergegeben.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link4">13.</div>
                    <p>
                        Es gilt ausschließlich deutsches Recht. Die Geltung des Übereinkommens der Vereinten Nationen über Verträge über den internationalen Warenkauf 
                        vom 11. April 1980 (CISG) ist ausgeschlossen. Erfüllungsort ist Lehrte. Ausschließlicher Gerichtsstand für beide Teile ist Bonn.
                        Sollten einzelne Bestimmungen dieser Geschäftsbedingungen oder des mit dem Käufer geschlossenen Vertrages ganz oder teilweise unwirksam sein, 
                        so berührt dies die Wirksamkeit des Vertrages im Übrigen nicht.
                    </p>
                </div>

            </article>
        </div>
    </div>
</section>
                