@{
    ViewBag.Title = "OrderProcess";
}

<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">

                <h6>Bestellvorgang, einfach und bequem bestellen</h6>

                <h6>Wie kann ich bei horecamoebel.de bestellen?</h6>
                
                <div class="page5-box1">
                    <div class="link2">1. Warenkorb</div>
                    <p>
                        Wählen Sie die Produkte aus, die Sie bestellen möchten, indem Sie den "In den Warenkorb" Button anklicken.
                        Dadurch wird Ihre Auswahl in den Warenkorb gelegt. Sie können diese Auswahl bis zum Absenden Ihrer Bestellung
                        jederzeit ändern, in dem Sie die Anzahl der Produkte ändern, durch Anklicken des Kästchens "Entfernen" die Auswahl
                        löschen oder den Bestellvorgang abbrechen. Durch Anklicken des Buttons "Kasse" gelangen Sie zum nächsten Bestellschritt.
                    </p>
                </div>

                <div class="page5-box1">
                    <div class="link2">2. Kasse</div>
                    <p>
                        Melden Sie sich bitte mit Ihrer eMail Adresse und Ihrem Passwort an und registrieren Sie sich bitte als neuer Kunde. 
                        Ihre Daten werden unter Beachtung
                        der datenschutzrechtlichen Bestimmungen erhoben, verarbeitet und genutzt (Datenschutzhinweis). 
                        Eine anderweitige Verwendung oder Weitergabe an
                        Dritte erfolgt nicht. Sind Sie bereits angemeldet, können Sie nun die Versandart auswählen. 
                        Durch klicken des Buttons "Weiter" gelangen Sie zum nächsten Bestellschritt.
                    </p>
                </div>
                
                <div class="page5-box1">
                    <div class="link2">3. Rechnungsadresse prüfen / Zahlungsweise auswählen</div>
                    <p>
                        Überprüfen Sie nun Ihre Rechnungsadresse und geben Sie Ihre gewünschte Zahlungsweise an. 
                        Durch Klicken des Buttons "Weiter" gelangen Sie zum nächsten Bestellschritt.
                    </p>
                </div>
                
                <div class="page5-box1">
                    <div class="link2">4. Versandadresse prüfen / Versandart auswählen</div>
                    <p>
                        Überprüfen Sie nun Ihre Versandadresse und geben Sie Ihre gewünschte Versandart an. Durch Klicken des Buttons "Weiter" gelangen Sie zum nächsten Bestellschritt.
                    </p>
                </div>
                
                <div class="page5-box1">
                    <div class="link2">5. Bestellvorgang abschließen / AGB und Datenschutz</div>
                    <p>
                        Sie erhalten eine Übersicht Ihrer Bestellung: die ausgewählten Produkte, die Versand- und Rechnungsadresse und Ihre Kontaktdaten.
                        Überprüfen Sie, ob alle Angaben stimmen und lesen sich bitte die Allgemeinen Geschäftsbedingungen und die Widerrufsbelehrung aufmerksam durch.
                        Sie können mit der Bestellung nur fortfahren, wenn Sie den AGB und der Datenschutzerklärung zustimmen (Häkchen setzen).
                        Mit dem Anklicken des Buttons "Bestellung absenden" übersenden Sie Ihre Bestellung an uns. Hiermit geben Sie ein rechtsverbindliches Angebot ab.
                    </p>
                </div>

                <div class="page5-box1">
                    <p>
                        Widerrufsrecht für b2b
                        Alle Informationen zum <a href="/TermsAndConditions/StockReturn">Widerrufsrecht</a>
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>>