@{
    ViewBag.Title = "PersonalDetails";
}

<section id="content">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <h6>Datenschutz</h6>

                <div class="page5-box1">
                    <p>
                        Die Nutzung unserer Webseite horecamoebel.de ist in der Regel ohne Angabe personenbezogener Daten möglich. 
                        Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, 
                        erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. 
                        Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. 
                        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur 
                        Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. 
                        Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, 
                        etwa durch Spam-Mails, vor.
                    </p>
                </div>

            </article>
        </div>
    </div>
</section>

